html {
    height: 100vh;
    width: 100vw;
}

.select-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 8px;
}

.select-type .select {
    display: flex;
    flex-direction: column;
}

.select-type .select .label {
    color: #fff;
    margin-bottom: 4px;
}

.select-type .select select {
    padding: 8px;
    border-radius: 4px;
}

.select-type .select {
    margin-left: 8px;
}

.button-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 8px;
}

.button-top button {
    font-size: 16px;
    border: 0px;
    background: #fff;
    padding: 8px 16px;
    border-radius: 4px;
}

.button-top button:first-child {
    margin-right: 16px;
}

.height-set {
    height: calc(100vh - 76px) !important;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 100vw;
    height: calc(100vh - 76px);
}

body {
    background-color: black;
}